<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd ">
	 
	<bean id="AutoReportTask" class="com.fitech.papp.decd.task.AutoReportTask">
	</bean>
	<bean id="AutoFeedbackTask" class="com.fitech.papp.decd.task.AutoFeedbackTask">
	</bean>
	
	<!-- cron表达式：*(秒0-59) *(分钟0-59) *(小时0-23) *(日期1-31) *(月份1-12或是JAN-DEC) *(星期1-7或是SUN-SAT) -->

	<task:scheduled-tasks>
		<task:scheduled ref="AutoReportTask" method="doRun" cron="0 0/30 * * * ?"></task:scheduled>
		<task:scheduled ref="AutoFeedbackTask" method="doRun" cron="0 0/30 * * * ?"></task:scheduled>
	</task:scheduled-tasks> 
	<context:component-scan base-package="com/fitech/papp/decd/task"></context:component-scan>

</beans>

